@use "./mixin.scss" as mixin;

.banner-section {
  @include mixin.width-height($h: 400px);
}

.swiper {
  @include mixin.width-height($h: 100%);

  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;

    .swiper-slide {
      width: 100% !important;
      min-width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      img{
        @include mixin.width-height($h:100%);
        object-fit: cover;
      }

      .opacity-layer{
        @include mixin.width-height($h:100%,$p:absolute);
        @include mixin.flex($d:column,$g:1rem); 
        background-color: #0000008c;
        top: 0;
        z-index: 1;

        h1{
            @include mixin.width-height($w:80%);
            text-align: center;
            color: var(--primary-back);
            font-family: var(--font-1);
            font-size: 3.5rem;
        }

        button{
            @include mixin.width-height($w:auto,$h:40px);
            padding-inline: 2rem;
            border-radius: 20px;
            border: 2px solid var(--primary-back);
            color: var(--primary-back);
            background-color: transparent;
            font-size: 1.6rem;
            font-family: var(--font-2);
            font-weight: bold;
            cursor: pointer;
            transition: .2s all ease-in-out;

            &:hover{
                background-color: var(--primary-back);
                color: var(--primary-color);
                transition: .2s all ease-in-out;
            }
        }
      }
    }
  }

  
}
