@use "./mixin.scss" as mixin;

.contact-section {
  @include mixin.width-height($h: auto);
  display: grid;
  grid-template-columns: 1fr 280px;

  @include mixin.media-break(1040px) {
    @include mixin.flex($g: 1rem, $d: column, $ai: flex-start);
  }

  border-radius: 1rem;

  .contact-subtitle {
    @include mixin.width-height();
    margin-top: 2rem;
    font-size: 2.6rem;
    color: var(--primary-back);
    font-family: var(--font-1);
    margin-bottom: 5rem;
  }

  .contact-form-section {
    @include mixin.width-height();

    box-shadow: -4px -2px 20px -7px #cfd5df;
    padding: 2rem;

    .contact-subtitle {
      color: var(--primary-color);
      margin-bottom: 3rem;
    }

    form {
      @include mixin.width-height();
      @include mixin.flex($d:column,$g:2rem,$jc:flex-start,$ai:flex-start);

      .input-section {
        @include mixin.width-height();
        @include mixin.flex($d: column, $ai: flex-start,$g:.6rem);

        .input-label{
          @include mixin.width-height();
          font-family: var(--font-2);
          font-size: 1.6rem;
          font-weight: bolder;
        }

        .input-field{
          @include mixin.width-height($h:40px);
          border-radius: .5rem;
          border: 1px solid #c0c0c0;
          outline: none;
          padding-inline: 1rem;
          font-family: var(--font-2);
          font-size: 1.6rem;
          color: var(--primary-color);

          &:hover{
            border: 1px solid red;
          }

          &:focus-within{
            border: 2px solid #98b9ff;
            box-shadow: 0px 0px 2px #98b9ff;
          }
        }

        textarea{
          padding-top: .5rem;
          height: 45px;
        }
      }


      .submit-btn{
        @include mixin.width-height($w:auto,$h:45px);
        border-radius: .5rem;
        background-color: var(--primary-color);
        color: var(--primary-back);
        padding-inline: 1.5rem;
        border: none;
        outline: none;
        font-family: var(--font-2);
        font-size: 1.6rem;

        &:hover{
          background-color: #454545;
          box-shadow: 0px 0px 5px #00000050;
        }
      }
    }
  }

  .contact-detail-section {
    @include mixin.width-height($w: auto, $h: 100%);
    @include mixin.flex($d: column, $jc: flex-start);
    background-color: var(--secondary-back);
    padding: 1.5rem;
    min-width: 270px;
    max-width: 400px;

    .contact-info-section {
      @include mixin.width-height();
      @include mixin.flex($g: 1rem, $jc: flex-start, $ai: flex-start);
      color: var(--primary-back);
      margin-bottom: 2rem;

      .contact-info-icon {
        @include mixin.width-height($w: 30px, $h: 30px);
        min-width: 30px;
      }
      .contact-info-text {
        @include mixin.width-height();
        font-family: var(--font-2);
        font-size: 1.5rem;
      }
    }
  }
}
