@use "./mixin.scss" as mixin;

.home-intro-section {
  @include mixin.width-height($h: auto);
  @include mixin.flex($jc: flex-start, $g: 2rem, $ai: flex-start);
  margin-top: 30px;
  padding-inline: 2rem;

  @include mixin.media-break(940px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-intro-gif {
    @include mixin.width-height($w: 50%, $h: auto);
    min-width: 40%;

    @include mixin.media-break(940px) {
      width: 80%;
    }
    @include mixin.media-break(400px) {
      width: 100%;
    }

    img {
      @include mixin.width-height();
      object-fit: cover;
    }
  }

  .home-intro-data-section {
    @include mixin.width-height($w: auto);
    @include mixin.flex($d: column, $g: 1rem, $ai: flex-start);
    min-width: 40%;

    .home-intro-subtitle {
      @include mixin.width-height($h: auto);
      color: var(--primary-color);
      font-size: 2.1rem;
      font-family: var(--font-1);
    }
    .home-intro-title {
      @include mixin.width-height($h: auto);
      color: var(--primary-color);
      font-size: 4rem;
      font-family: var(--font-1);
    }

    .home-intro-description {
      @include mixin.width-height();
      text-align: left;
      font-size: 1.8rem;
      font-family: var(--font-2);
    }

    .home-intro-readmore-btn {
      @include mixin.width-height($w: auto, $h: 50px);
      padding-inline: 2rem;
      font-size: 1.6rem;
      font-family: var(--font-2);
      font-weight: bold;
      background-color: var(--secondary-back);
      border: none;
      outline: none;
      color: var(--primary-back);
    }
  }
}

.home-product-section {
  @include mixin.width-height();
  @include mixin.flex($d: column, $g: 1rem);
  padding-inline: 2rem;
  margin-top: 3rem;

  .home-product-title {
    @include mixin.width-height();
    @include mixin.flex();
    font-size: 4rem;
    font-family: var(--font-1);
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .home-product-description {
    @include mixin.width-height();
    @include mixin.flex();
    font-size: 1.8rem;
    font-family: var(--font-2);
    color: var(--primary-color);
  }

  .home-product-container {
    @include mixin.width-height($h: auto);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    @include mixin.media-break(560px) {
      @include mixin.flex($w: wrap, $g: 1rem);
    }

    .home-product-info {
      @include mixin.width-height();
      @include mixin.flex($d: column);

      @include mixin.media-break(560px) {
        min-width: 300px;
        width: 300px;
      }

      @include mixin.media-break(350px) {
        width: 100%;
        min-width: 100%;
      }

      .home-product-info-image-section {
        @include mixin.width-height();

        img {
          @include mixin.width-height();
          object-fit: cover;
          transition: 0.3s all ease-in-out;
        }

        .home-product-info-title {
          @include mixin.width-height($p: absolute);
          left: 1rem;
          bottom: 2rem;
          font-size: 2.4rem;
          color: var(--primary-back);
          font-family: var(--font-1);
        }
      }

      .home-product-readmore-btn {
        @include mixin.width-height($h: 50px);
        top: -4px;
        background-color: var(--secondary-back);
        border: none;
        outline: none;
        font-size: 1.8rem;
        color: var(--primary-back);
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          letter-spacing: 2px;
          font-weight: normal;
        }
      }
    }

    .home-provide-card {
      @include mixin.width-height();
      @include mixin.flex();
      overflow: hidden;

      img {
        @include mixin.width-height();
        object-fit: cover;
        z-index: 1;
      }

      &::after {
        @include mixin.width-height(
          $h: calc(100% - 2rem),
          $w: calc(100% - 2rem),
          $p: absolute
        );
        left: -100%;
        top: 0;
        content: attr(data);
        z-index: 1;
        background: linear-gradient(
          180deg,
          transparent 0%,
          var(--secondary-back)
        );
        padding: 1rem;
        @include mixin.flex($jc: flex-start, $ai: flex-end);
        font-size: 2.5rem;
        color: var(--primary-back);
        font-family: var(--font-1);
        font-weight: bold;
        transition: 0.2s all ease-in-out;
      }

      &:hover {
        &::after {
          left: 0;
        }
      }
    }
  }
}

.home-benefit-section {
  @include mixin.width-height();
  @include mixin.flex($d: column, $g: 2rem);
  margin-top: 3rem;
  overflow: hidden;

  .home-benefit-title {
    @include mixin.width-height();
    @include mixin.flex();
    margin-top: 2rem;
    padding: 2rem;
    font-size: 4rem;
    font-family: var(--font-1);
    z-index: 1;
    color: var(--primary-back);
  }

  img {
    @include mixin.width-height($p: absolute,$h:100%);
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .opacity-layer {
    @include mixin.width-height($h: 100%, $p: absolute);
    background-color: #00000098;
  }

  .home-benefit-card-section {
    @include mixin.width-height();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 4rem;

    @include mixin.media-break(790px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @include mixin.media-break(668px) {
        padding-inline: 4rem;
    }

    @include mixin.media-break(390px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
        padding-inline: .5rem;
    }

    .home-benefit-card-wrapper {
      @include mixin.width-height();
      @include mixin.flex($jc: flex-start, $g: 1.5rem, $ai: flex-start);
      background-color: var(--primary-back);
      color: var(--primary-color);
      padding: 2rem;
      transition: 0.3s all ease-in-out;

      .home-benefit-card-icon {
        @include mixin.width-height($w: 50px, $h: 50px);
        min-width: 50px;
        padding: 1rem;
        color: var(--primary-back);
        background-color: var(--secondary-back);
        transition: 0.3s all ease-in-out;
      }

      &:hover {
        background-color: var(--secondary-back);
        color: var(--primary-back);

        .home-benefit-card-icon {
          color: var(--primary-back);
          background-color: var(--primary-color);
          animation: home-animation 0.5s linear forwards;

          @keyframes home-animation {
            50% {
              transform: translateY(-10px);
            }
            80% {
              transform: translateY(5px);
            }
            100% {
              transform: translateY(0px);
            }
          }
        }
      }

      .home-benefit-card-info-section {
        @include mixin.width-height();
        @include mixin.flex($d: column, $g: 0.5rem, $ai: flex-start);

        .home-benefit-card-info-title {
          font-size: 2rem;
          font-family: var(--font-1);
        }
        .home-benefit-card-info-description {
          font-size: 1.6rem;
          font-family: var(--font-2);
        }
      }
    }
  }
}
